<!DOCTYPE html>
<html lang="en">

<head>
    <title>輸入訂單</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="900">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/scripts/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/static/scripts/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery-ui.multidatespicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/scripts/css/mdp.css">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/static/css/d676_ie8_theme.css">
    <![endif]-->
    <!--[if !(IE)]><!-->
    <link rel="stylesheet" type="text/css" href="/static/css/d676_theme.css">
    <!--<![endif]-->
</head>

<body>

        <div class="order_navibar">
            <h1 class="navititle" style="text-align:center;margin:0px auto;">中部施工處-訂餐系統</h1>
        </div>
        <div class="container">

            <div class="menu">
                <h3 style="text-align: center;font-size: 25px;">歡迎 {{username}}</h3><br />
                <div class="div_btn_s"><a href="/order/" class="a_btn_s" style="background-color:green">訂餐系統首頁</a></div>
                <div class="div_btn_s"><a href="/order/input_order/" class="a_btn_s">輸入訂單</a></div>
                <div class="div_btn_s"><a href="/order/check_order/" class="a_btn_s">查詢訂餐狀況</a></div>
                {% if member %}
                <div class="div_btn_s"><a href="/order/set_user_default_state/" class="a_btn_s">輸入預設設定</a></div>
                {% endif %}
                {% if admin %}
                <div class="div_btn_s" id="statics"><a href="/order/temp_to_order/" class="a_btn_s">產生每日統計</a></div>
                <div class="div_btn_s"><a href="/order/modify_user/" class="a_btn_s">管理使用者權限</a></div>
                <div class="div_btn_s"><a href="/order/check_daily_quantity/" class="a_btn_s">確認每日數量</a></div>
                <div class="div_btn_s"><a href="/order/check_monthly_quantity/" class="a_btn_s">確認每月數量</a></div>
                <div class="div_btn_s"><a href="/order/pressing_input/" class="a_btn_s">臨時輸入</a></div>
                {% endif %}
                <div class="div_btn_s"><a href="/logout/" class="a_btn_s" style="background-color: darkred">登出</a></div>
            </div>

            <div class="function" style="text-align: center">
                <form method="POST" action="" id="step1">
                    {% csrf_token %}
                    <table style="margin:0px auto;">
                        <tr>
                            <td>
                                <div id="form-input" style="margin: 0 auto;"></div>
                            </td>
                        </tr>
                    </table>
                    <select name="order_id" id="order_id" {{ disabled }}>
                        <option value="">{{username}}</option>
                        {% for key, name in 組員.items %}
                            <option value="{{key}}" {% if key == order_hid %}selected="selected"{% endif %}>{{name}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="form-input-hidden" id="form-input-hidden">
                    <input type="submit" value="查詢當日目前訂餐情形" id="form-input-button" style="display: none">
                </form>
                {% if date %}
                <div id="step2">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table style="margin: 0 auto; text-align: center; padding:3px">
                            <tr>
                                <td style="padding: 5px">
                                    <input type="checkbox" name="order" value="breakfast" {{breakfast}} id="breakfast" {{假期後早餐}}>早餐
                                </td>
                            </tr>
                                <td style="padding: 5px">
                                    <input type="checkbox" name="order" value="lunch" {{lunch}}>中餐
                                </td>
                                <td style="padding: 5px">
                                    <input type="checkbox" name="order" value="vegetarian" {{ vegetarian }}>素食
                                </td>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="checkbox" name="order" value="dinner" {{dinner}} {{假期前晚餐}}>晚餐
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 5px">
                                   <input type="submit" value="送出訂餐" id="step2-submit" style="display:none;" class="btn_s">
                                </td>
                            </tr>
                        </table>                        
                        <input type="hidden" name="step2" id="step2-hidden">
                        <input type="hidden" name="step2-order_id" id="step2-order_id">
                        <input type="hidden" name="step2-timestamp" id="step2-timestamp">
                    </form>
                </div>
                {% endif %}
                {% if msg %}
                    <p class="warning-block">{{msg}}</p>
                {% endif %}
                {% if error %}
                    <p class=".alert-block">{{error}}</p>
                {% endif %}
            </div>

            <div class="content">
                說明：<br><br>
                本功能為輸入訂單功能，先於日曆中點選日期，接著選擇訂餐者（可代替組內同仁訂餐），按下「查詢當日目前訂餐情形」按鈕後，會出現此日期之訂餐狀態。<br><br>
                可設定60天內之狀態，每日下午3時後，不可設定明日之午餐/晚餐，及後日之早餐。<br><br>
                假日前一天不可訂晚餐，假日後一天不可訂早餐。
            </div>
        </div>

</body>
<script>
    var today = new Date();
    hour = today.getHours();
    var min = 1;
    if (hour >= 15) {
        min = 2;
    } else {
        min = 1;
    }
    var max = min + 60;

    $(document).ready(function() {
        var select_date = $('#form-input').multiDatesPicker('value');
        var date;
        if (hour >= 15) {
            date = (today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + (today.getDate() + 2));
        } else {
            date = (today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + (today.getDate() + 1));
        }
        if (date == select_date) {
            $('#breakfast').prop('disabled', true);
        }
    });

    $('#form-input').multiDatesPicker({
        dateFormat: "yy-m-d",
        maxPicks: 1,
        minDate: min,
        maxDate: max,
        {{date|safe}}
        {{假日|safe}}
    });

    $('.ui-datepicker a').on('click', function(event) {
        $('#form-input-button').toggle();
    });

    $('#step1').submit(function() {
        var date = $('#form-input').multiDatesPicker('value');
        if (!date) {
            location.reload();
        }
        $('#form-input-hidden').val(date);
    });

    $('#step2').submit(function() {
        var date = $('#form-input').multiDatesPicker('value');
        var order_id = $('#order_id').val();
        var timestamp = new Date();
        $('#step2-hidden').val(date);
        time = (timestamp.getFullYear() + "-" + (timestamp.getMonth() + 1) + "-" + timestamp.getDate() +
            " " + timestamp.getHours() + ":" + timestamp.getMinutes() + ":" + timestamp.getSeconds());
        $('#step2-timestamp').val(time);
        $('#step2-order_id').val(order_id);
    });

    if ($('#step2').length) {
        $('#form-input-button').hide(0);
    }

    $('input[type=checkbox]').on('change', function() {
        $('#step2-submit').show();
    });
</script>

</html>